* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #444444;
	font-family: "Trebuchet MS", Helvetica, sans-serif ;
}


.member__header {
	font-size: 35px;
	margin: 50px;
	text-align: center;
}


/*.member__text--name, .member__text--email, .member__number--phone, .member__place {
	margin-left: 20px;
	width: 50%;
	height: 30px;
	border-radius: 5px;
}*/

.member__text, .member__text, .member__number, .member__place {
	margin-left: 20px;
	width: 50%;
	height: 30px;
	border-radius: 5px;
}


.member__label{
	font-size: 20px;
	margin: 50px;
	padding: 20px;
	
}

.member__radio, .member__check {
	height: 18px;
	width: 18px;
	margin-right: 10px;
	margin-left: 10px;
}




.member__submit {
	margin: 50px;
}


.member__message, .member__activities {
	width: 50%;
	padding: 12px;
	border-radius: 5px;
}


.member {
	border: 2px solid black;
	width: 33.3%;
	margin: 50px;
	padding: 10px;
	background : #FFDD67;
}


.member__submit {
	width: 30%;
	padding: 10px;
	border-radius: 5px;
	background-color : #FF8A5C ;
	font-size: 18px;
	margin-left: 200px;
}



.member__submit:hover {
	color: white;
}